/* If the screen size is 400px wide or less, set the font-size of <div> to 10px */
@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 401px) and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 20px */
@media screen and (min-width: 601px) {
  body {
    font-size: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: grey;
}

.init {
  width: 20em;
  height: 15em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

select {
  font-size: 1.5em;
  width: 20em;
  height: 2.5em;
  margin: auto;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: black;
  border-style: groove;
}

button {
  width: 20em;
  height: 2.5em;
  margin: auto;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 10px;
  border: black;
  border-style: groove;
}

button:hover {
  background-color: gainsboro;
}

.memory-game {
  width: 32em;
  height: 32em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* perspective: 100px; */
  /* border: 2px solid lime; */
}

.memory-card {
  width: calc(25% - 0.5em);
  height: calc(20% - 0.5em);
  margin: 0.25em;
  position: relative;
  /* border: 2px solid aqua; */
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  /* border: 2px solid deeppink; */
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

img {
  width: 5em;
}
