/* If the screen size is 400px wide or less, set the font-size of <div> to 10px */
@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
  #box {
    top: 40%;
    left: 25%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 401px) and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  #box {
    top: 30%;
    left: 15%;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 20px */
@media screen and (min-width: 601px) {
  body {
    font-size: 20px;
  }
  #box {
    top: 30%;
    left: 30%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Georgia;
}

body {
  height: 100vh;
  display: flex;
  background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.init {
  width: 20em;
  height: 15em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#box {
  width: 20em;
  height: 12em;
  margin: auto;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 1.25em black;
  border-radius: 8px;
  position: absolute;
  /* z-index: 9999; */
  padding: 1.25em;
  display: none;
  justify-content: center;
}

h1 {
  text-align: center;
}

.close {
  font-size: 1.2em;
  color: white;
  padding: 0px 0.7em;
  cursor: pointer;
  background: #3498db;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

select {
  font-size: 1.5em;
  width: 20em;
  height: 2.5em;
  margin: auto;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid transparent;
  border-style: groove;
}

button {
  width: 20em;
  height: 2.5em;
  margin: auto;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 10px;
  border: solid transparent;
  border-style: groove;
}

button:hover {
  background-color: gainsboro;
}

.memory-game {
  width: 32em;
  height: 32em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 0.5em);
  height: calc(20% - 0.5em);
  margin: 0.25em;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

img {
  width: 5em;
}
